# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
env/
*.env

# PyTorch model + dataset (do NOT commit large model/dataset)
waste_model.pth
waste_dataset/

# Logs and packaging
*.log
build/
dist/
*.egg-info/

# VS Code / IDE
.vscode/
.idea/

# Expo / Node
image_classification_app/ImageClassificationApp/node_modules/
image_classification_app/ImageClassificationApp/.expo/
image_classification_app/ImageClassificationApp/web-build/

# OS files
.DS_Store
Thumbs.db