# Virtual environment
venv/
env/
ENV/

# PyTorch / TensorFlow model files (optional, if large)
rice_model.pth
*.h5
*.pt
waste_model.pth

# Dataset (usually too large to track)
rice_dataset/
raw_rice_dataset/
waste_dataset/
raw_waste_dataset/